name: Issues

on:
  issues:
    types: [opened]

concurrency:
  group: manifest-check-lock

jobs:
  issue-handler:
    name: Issue Handler
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get latest changes
        run: git pull

      - name: Issue Handler
        uses: ScoopInstaller/GithubActions@main
        # uses: abgox/ScoopInstaller-GithubActions@main
        if: github.event.action == 'opened' || (github.event.action == 'labeled' && contains(github.event.issue.labels.*.name, 'verify'))
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  sync-repos:
    name: Sync Repos
    needs: issue-handler
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: Yikun/hub-mirror-action@master
        with:
          src: github/abgox
          dst: gitee/abgox
          dst_key: ${{ secrets.GITEE_SSH_PRIVATE_KEY }}
          dst_token: ""
          force_update: true
          static_list: ${{ github.event.repository.name }}
