name: Issues

on:
  issues:
    types: [opened]

concurrency:
  group: manifest-check-lock

jobs:
  issueHandler:
    name: IssueHandler
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get latest changes
        run: git pull

      - name: IssueHandler
        uses: ScoopInstaller/GithubActions@main
        # uses: abgox/ScoopInstaller-GithubActions@main
        if: github.event.action == 'opened' || (github.event.action == 'labeled' && contains(github.event.issue.labels.*.name, 'verify'))
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
