name: Sort JSON Files

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: manifest-check-lock

permissions:
  contents: write

jobs:
  push-changes:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch}}
          fetch-depth: 50

      - name: Sort JSON Files
        shell: pwsh
        run: |
          git clone --depth 1 https://github.com/ScoopInstaller/Scoop scoop
          $env:SCOOP_HOME = ".\scoop"
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
              .\script\sort-json.ps1
          } else {
              .\script\sort-json.ps1 -Recent
          }

      - name: Commit changes if any
        id: changes
        shell: pwsh
        run: |
          git add -u
          if (git status --porcelain) {
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

            # scoop update 会忽略以 (chore) 开头的提交
            git commit -m "(chore): automatically sort json files [skip ci]"
            git push
          }
